In [1]:
#Importamos librerias para leer la informacion del cilma y manipularlas con pandas
import json
import requests 
import pandas as pd

In [2]:
#De la base de datos NOOA solo obtuvimos informacion de la presipitación y temperatura de la ciudad de mexico
#Creamos un arreglo solo con la información que podemos obtener.
#Hacemos una llamda a la pagina por cada tipo de caracteristica del clima y lo apendamos los datos.
getdata=['PRCP','TAVG','TMAX','TMIN']
datatype=[]
for value in getdata:
    r=requests.get("https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&limit=1000&stationid=GHCND:MXM00076680&units=standard&startdate=2019-01-01&enddate=2019-12-31&datatypeid="+value, headers={"token":"VwDkjYpjrlabCLXsfcxtPBFclLehUEzr"}).json()    
    datatype.append(r['results'])

In [3]:
#Obtenemos un muestra de la información
datatype[0][1]

{'date': '2019-01-02T00:00:00',
 'datatype': 'PRCP',
 'station': 'GHCND:MXM00076680',
 'attributes': ',,S,',
 'value': 0.0}

In [4]:
#Guradamos cada uno de los datos en listas distintas
prcp_data=[]
prcp_data_date=[]
tavg_data=[]
tavg_data_date=[]
tmin_data=[]
tmin_data_date=[]
tmax_data=[]
tmax_data_date=[]
for each_list in datatype:
     for data in each_list:
            if data['datatype']=='PRCP':
                prcp_data_date.append(data['date'])
                prcp_data.append(data['value'])            
            elif data['datatype']=='TAVG':
                tavg_data_date.append(data['date'])
                tavg_data.append(data['value'])                  
            elif data['datatype']=='TMIN':
                tmin_data_date.append(data['date'])
                tmin_data.append(data['value'])                
            elif data['datatype']=='TMAX':
                tmax_data_date.append(data['date'])
                tmax_data.append(data['value'])

In [5]:
#Utilizamos la libreria datetime para crear fechas y una columna que contiene las fechas de todo 2019
from datetime import datetime, timedelta

inicio = datetime(2019,1,1)
fin    = datetime(2019,12,31)

lista_fechas = [(inicio + timedelta(days=d)).strftime("%Y-%m-%d")
                    for d in range((fin - inicio).days + 1)] 
#print(lista_fechas)

data_df=pd.DataFrame(lista_fechas,columns=['Date'])
data_df.head()

         Date
0  2019-01-01
1  2019-01-02
2  2019-01-03
3  2019-01-04
4  2019-01-05

In [6]:
#Por cada una de las variables del clima creamos un dataframe.
data_PRCP=pd.DataFrame(prcp_data_date,columns=['Date_PRCP'])
data_PRCP['Precipitation']=pd.DataFrame(prcp_data)
data_TAVG=pd.DataFrame(tavg_data_date,columns=['Date_TempAvg'])
data_TAVG['TempAvg']=pd.DataFrame(tavg_data)
data_TMIN=pd.DataFrame(tmin_data_date,columns=['Date_TempMin'])
data_TMIN['TempMin']=pd.DataFrame(tmin_data)
data_TMAX=pd.DataFrame(tmax_data_date,columns=['Date_TempMax'])
data_TMAX['TempMax']=pd.DataFrame(tmax_data)

In [7]:
#Convertimos todas las fechas a date
data_PRCP['Date_PRCP']=pd.to_datetime(data_PRCP['Date_PRCP'])
data_TAVG['Date_TempAvg']=pd.to_datetime(data_TAVG['Date_TempAvg'])
data_TMIN['Date_TempMin']=pd.to_datetime(data_TMIN['Date_TempMin'])
data_TMAX['Date_TempMax']=pd.to_datetime(data_TMAX['Date_TempMax'])
data_df['Date']=pd.to_datetime(data_df['Date'])

In [59]:
#Hacemos un join por cada uno de los dataframe para quedarnos con uno solo.
data_df_all=data_df.merge(data_PRCP, left_on='Date', right_on='Date_PRCP', how='left')
data_df_all=data_df_all.merge(data_TAVG, left_on='Date', right_on='Date_TempAvg', how='left')
data_df_all=data_df_all.merge(data_TMIN, left_on='Date', right_on='Date_TempMin', how='left')
data_df_all=data_df_all.merge(data_TMAX, left_on='Date', right_on='Date_TempMax', how='left')
data_df_all[['Date','Precipitation','TempAvg','TempMin','TempMax']]

          Date  Precipitation  TempAvg  TempMin  TempMax
0   2019-01-01            0.0     62.0     47.0     76.0
1   2019-01-02            0.0     62.0     45.0     77.0
2   2019-01-03            NaN     60.0      NaN      NaN
3   2019-01-04            0.0     65.0     45.0     74.0
4   2019-01-05            0.0     66.0     45.0     75.0
..         ...            ...      ...      ...      ...
360 2019-12-27            NaN      NaN      NaN      NaN
361 2019-12-28            NaN      NaN      NaN      NaN
362 2019-12-29            NaN      NaN      NaN      NaN
363 2019-12-30            0.0     63.0      NaN      NaN
364 2019-12-31            0.0     61.0     49.0     75.0

[365 rows x 5 columns]

In [35]:
#Leemos los archivos de la calidad del aire
file1 = "Calidad_Aire/2019CO_Monoxido.csv"
file2 = "Calidad_Aire/radiacion_2019UVA.csv"
file3 = "Calidad_Aire/radiacion_2019UVB.csv"
file_one_df = pd.read_csv(file1)
file_two_df = pd.read_csv(file2)
file_three_df = pd.read_csv(file3)

In [36]:
#Cambiamos los valores -99 por cero
file_one_df=file_one_df.replace(-99,0)
file_two_df=file_two_df.replace(-99,0)
file_three_df=file_three_df.replace(-99,0)

In [37]:
#Agrupamos las bases de datos por fecha 
file_one_df=file_one_df[['FECHA', 'ACO', 'AJM', 'ATI', 'BJU', 'CAM', 'CCA', 'CHO', 'CUA',
       'FAC', 'FAR', 'HGM', 'INN', 'IZT', 'LLA', 'LPR', 'MER', 'MGH', 'MON',
       'MPA', 'NEZ', 'PED', 'SAG', 'SAC', 'SFE', 'SJA', 'TAH', 'TLA', 'TLI',
       'UAX', 'UIZ', 'VIF', 'XAL']].groupby('FECHA').sum()
#

In [38]:
file_two_df = file_two_df[['FECHA', 'CHO', 'CUT', 'FAC', 'LAA', 'MER', 'MON', 'MPA', 'PED',
       'SAG', 'SFE', 'TLA']].groupby('FECHA').sum()

In [39]:

file_three_df = file_three_df[['FECHA', 'CHO', 'CUT', 'FAC', 'LAA', 'MER', 'MON', 'MPA', 'PED',
       'SAG', 'SFE', 'TLA']].groupby('FECHA').sum()

In [45]:
#Calculamos la media de por día en 2019
co_df=file_one_df.mean(axis=1)
co_df.to_frame()
co_df=co_df.reset_index()
uva_df=file_two_df.mean(axis=1)
uva_df.to_frame()
uva_df=uva_df.reset_index()
uvb_df=file_three_df.mean(axis=1)
uvb_df.to_frame()
uvb_df=uva_df.reset_index()
#Convetimos la columna de FECHA en date
co_df['FECHA']=pd.to_datetime(co_df['FECHA'])
uva_df['FECHA']=pd.to_datetime(uva_df['FECHA'])
uvb_df['FECHA']=pd.to_datetime(uvb_df['FECHA'])

In [46]:
#Renombramos las columnas
co_df=co_df.rename(columns={0: "n_CO"})
uva_df=uva_df.rename(columns={0: "n_UVA"})
uvb_df=uvb_df[['FECHA',0]]
uvb_df=uvb_df.rename(columns={0: "n_UVB"})

In [47]:
#Con la libreria glob importamos todos los archivos de la carpeta "Datos_Ecobici"
import glob
csv_files = glob.glob('Datos_Ecobici/*.csv')
# Mostrar el archivo csv_files, el cual es una lista de nombres
eco_bici = pd.DataFrame(columns=('Genero_Usuario', 'Edad_Usuario', 'Bici', 'Ciclo_Estacion_Retiro',
       'Fecha_Retiro', 'Hora_Retiro', 'Ciclo_Estacion_Arribo', 'Fecha_Arribo',
       'Hora_Arribo'))
csv_files

['Datos_Ecobici\\2019-01.csv',
 'Datos_Ecobici\\2019-02.csv',
 'Datos_Ecobici\\2019-03.csv',
 'Datos_Ecobici\\2019-04.csv',
 'Datos_Ecobici\\2019-05.csv',
 'Datos_Ecobici\\2019-06.csv',
 'Datos_Ecobici\\2019-07.csv',
 'Datos_Ecobici\\2019-08.csv',
 'Datos_Ecobici\\2019-09.csv']

In [48]:
# Escribimos un loop que irá a través de cada uno de los nombres de archivo a través de globbing y el resultado final será la lista dataframes
lista_data=[]
for filename in csv_files:
    data = pd.read_csv(filename)
    lista_data.append(data)
lista_data

C:\Users\52333\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\52333\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

[       Genero_Usuario  Edad_Usuario   Bici  Ciclo_Estacion_Retiro  \
 0                   M            36  11444                     67
 1                   M            36   9196                     55
 2                   M            38   2612                     29
 3                   M            43   7463                     29
 4                   M            37   3987                    136
 ...               ...           ...    ...                    ...
 697284              F            35  11497                    359
 697285              M            37   2238                    270
 697286              M            21   2591                    182
 697287              M            25   9121                    137
 697288              F            28  11718                      5

        Fecha_Retiro Hora_Retiro  Ciclo_Estacion_Arribo Fecha_Arribo  \
 0        01/01/2019     0:08:44                     36   01/01/2019
 1        01/01/2019     0:12:05                    136   01/01/2019
 2        01/01/2019     0:13:15                    115   01/01/2019
 3        01/01/2019     0:13:36                    115   01/01/2019
 4        01/01/2019     0:15:30                     35   01/01/2019
 ...             ...         ...                    ...          ...
 697284   30/01/2019    23:58:23                    366   31/01/2019
 697285   30/01/2019    23:58:25                    263   31/01/2019
 697286   30/01/2019    23:58:25                    286   31/01/2019
 697287   30/01/2019    23:59:04                    125   31/01/2019
 697288   30/01/2019    23:59:55                    178   31/01/2019

        Hora_Arribo
 0          0:14:03
 1          0:42:11
 2          0:37:47
 3          0:38:04
 4          0:22:47
 ...            ...
 697284     0:07:47
 697285     0:08:46
 697286     0:44:01
 697287     0:01:57
 697288     0:16:11

 [697289 rows x 9 columns],
        Genero_Usuario  Edad_Usuario   Bici  Ciclo_Estacion_Retiro  \
 0                   M            35   1745                     64
 1                   M            26  10437                    295
 2                   F            31   9365                    254
 3                   F            23  10682                     37
 4                   M            39   6915                     41
 ...               ...           ...    ...                    ...
 684072              M            35   7275                     34
 684073              M            28   1585                    340
 684074              M            34   4370                    312
 684075              F            27   3847                     83
 684076              F            28   6871                    154

        Fecha_Retiro Hora_Retiro  Ciclo_Estacion_Arribo Fecha_Arribo  \
 0        01/02/2019    00:00:14                     64   01/02/2019
 1        01/02/2019    00:00:15                    162   01/02/2019
 2        01/02/2019    00:00:16                     81   01/02/2019
 3        01/02/2019    00:00:31                     75   01/02/2019
 4        01/02/2019    00:00:41                    254   01/02/2019
 ...             ...         ...                    ...          ...
 684072   27/02/2019    23:57:34                     82   28/02/2019
 684073   27/02/2019    23:58:37                    394   28/02/2019
 684074   27/02/2019    23:59:08                    285   28/02/2019
 684075   27/02/2019    23:59:19                    141   28/02/2019
 684076   27/02/2019    23:59:44                     47   28/02/2019

        Hora_Arribo
 0         00:05:15
 1         00:06:20
 2         00:15:41
 3         00:08:42
 4         00:06:36
 ...            ...
 684072    00:10:20
 684073    00:10:44
 684074    00:05:42
 684075    00:10:16
 684076    00:09:52

 [684077 rows x 9 columns],
        Genero_Usuario  Edad_Usuario   Bici  Ciclo_Estacion_Retiro  \
 0                   M            34   8861                    143
 1                   F            33   2601                     51
 2                   M            25   8257                    340
 3                   M            32  15007                    139
 4                   F            22   7601                     81
 ...               ...           ...    ...                    ...
 752294              M            36  11045                    150
 752295              M            30   3669                    150
 752296              M            33   1515                     53
 752297              M            28   9616                     45
 752298              M            42   9935                     10

        Fecha_Retiro Hora_Retiro Ciclo_Estacion_Arribo Fecha_Arribo  \
 0        01/03/2019    00:00:54                    68   01/03/2019
 1        01/03/2019    00:01:01                    53   01/03/2019
 2        01/03/2019    00:01:26                   324   01/03/2019
 3        01/03/2019    00:01:42                   155   01/03/2019
 4        01/03/2019    00:01:50                    75   01/03/2019
 ...             ...         ...                   ...          ...
 752294   30/03/2019    23:59:01                    34   31/03/2019
 752295   30/03/2019    23:59:11                    35   31/03/2019
 752296   30/03/2019    23:59:13                    53   31/03/2019
 752297   30/03/2019    23:59:21                    64   31/03/2019
 752298   30/03/2019    23:59:59                   266   31/03/2019

        Hora_Arribo Unnamed: 9
 0         00:13:55        NaN
 1         00:07:16        NaN
 2         00:09:26        NaN
 3         00:06:20        NaN
 4         00:06:22        NaN
 ...            ...        ...
 752294    00:08:01        NaN
 752295    00:08:11        NaN
 752296    00:43:00        NaN
 752297    00:03:35        NaN
 752298    00:06:52        NaN

 [752299 rows x 10 columns],
        Genero_Usuario  Edad_Usuario   Bici  Ciclo_Estacion_Retiro  \
 0                   M            28   2388                    378
 1                   M            27   8272                    309
 2                   M            23   4058                    277
 3                   M            22   7716                    120
 4                   F            33   3982                     32
 ...               ...           ...    ...                    ...
 689998              M            32  12378                     46
 689999              F            30  10739                     67
 690000              F            31   9417                    332
 690001              M            34  12204                    329
 690002              M            27  12043                     32

        Fecha_Retiro Hora_Retiro  Ciclo_Estacion_Arribo Fecha_Arribo  \
 0        01/04/2019    00:00:06                    323   01/04/2019
 1        01/04/2019    00:00:09                    288   01/04/2019
 2        01/04/2019    00:00:31                    321   01/04/2019
 3        01/04/2019    00:01:04                    137   01/04/2019
 4        01/04/2019    00:03:49                    163   01/04/2019
 ...             ...         ...                    ...          ...
 689998   29/04/2019    23:55:42                     83   30/04/2019
 689999   29/04/2019    23:56:40                    174   30/04/2019
 690000   29/04/2019    23:56:47                    384   30/04/2019
 690001   29/04/2019    23:57:12                    151   30/04/2019
 690002   29/04/2019    23:59:02                    465   30/04/2019

        Hora_Arribo
 0         00:09:01
 1         00:03:13
 2         00:09:42
 3         00:04:18
 4         00:17:36
 ...            ...
 689998    00:02:57
 689999    00:29:06
 690000    00:03:36
 690001    00:10:25
 690002    00:17:47

 [690003 rows x 9 columns],
        Genero_Usuario  Edad_Usuario   Bici  Ciclo_Estacion_Retiro  \
 0                   M            25   1427                    372
 1                   M            26   8431                    202
 2                   M            28  10212                    340
 3                   F            23  12098                    290
 4                   M            33  11352                    290
 ...               ...           ...    ...                    ...
 750905              M            23  11068                    271
 750906              M            36   7475                    126
 750907              M            28   9142                    129
 750908              M            57   9008                     52
 750909              M            48  11506                     43

        Fecha_Retiro Hora_Retiro  Ciclo_Estacion_Arribo Fecha_Arribo  \
 0        01/05/2019    00:00:04                    397   01/05/2019
 1        01/05/2019    00:00:26                    318   01/05/2019
 2        01/05/2019    00:00:49                    394   01/05/2019
 3        01/05/2019    00:00:51                    292   01/05/2019
 4        01/05/2019    00:01:03                    292   01/05/2019
 ...             ...         ...                    ...          ...
 750905   30/05/2019    23:57:48                    106   31/05/2019
 750906   30/05/2019    23:57:53                    157   31/05/2019
 750907   30/05/2019    23:57:55                    341   31/05/2019
 750908   30/05/2019    23:58:36                    123   31/05/2019
 750909   30/05/2019    23:58:39                     59   31/05/2019

        Hora_Arribo
 0         00:05:18
 1         00:32:24
 2         00:11:31
 3         00:05:30
 4         00:05:31
 ...            ...
 750905    00:13:02
 750906    00:09:02
 750907    00:16:32
 750908    00:10:11
 750909    00:17:35

 [750910 rows x 9 columns],
        Genero_Usuario  Edad_Usuario   Bici  Ciclo_Estacion_Retiro  \
 0                   M            33   7509                     51
 1                   M            33  11870                    115
 2                   M            25  15074                    449
 3                   M            52  11203                    115
 4                   F            26   3911                     60
 ...               ...           ...    ...                    ...
 695709              M            33   9212                     28
 695710              M            25   8142                     46
 695711              F            26  12399                     55
 695712              M            34   2182                     17
 695713              F            27   9078                     30

        Fecha_Retiro Hora_Retiro  Ciclo_Estacion_Arribo Fecha_Arribo  \
 0        01/06/2019    00:01:14                     53   01/06/2019
 1        01/06/2019    00:02:05                    107   01/06/2019
 2        01/06/2019    00:02:13                    464   01/06/2019
 3        01/06/2019    00:02:16                    107   01/06/2019
 4        01/06/2019    00:02:33                    291   01/06/2019
 ...             ...         ...                    ...          ...
 695709   29/06/2019    23:59:24                     46   30/06/2019
 695710   29/06/2019    23:59:33                     45   30/06/2019
 695711   29/06/2019    23:59:33                     43   30/06/2019
 695712   29/06/2019    23:59:47                    121   30/06/2019
 695713   29/06/2019    23:59:51                     58   30/06/2019

        Hora_Arribo
 0         00:24:20
 1         00:14:19
 2         00:20:34
 3         00:14:28
 4         00:18:06
 ...            ...
 695709    00:04:31
 695710    00:04:58
 695711    00:10:40
 695712    00:08:07
 695713    00:09:58

 [695714 rows x 9 columns],
        Genero_Usuario  Edad_Usuario   Bici  Ciclo_Estacion_Retiro  \
 0                   F            32  11584                    452
 1                   M            19  10219                    136
 2                   M            28  11496                    180
 3                   M            44  11948                    181
 4                   M            24   8112                     18
 ...               ...           ...    ...                    ...
 703268              M            28  12191                     27
 703269              M            29   8879                    135
 703270              M            29  12360                    340
 703271              F            18  10627                    140
 703272              F            32  10807                    123

        Fecha_Retiro Hora_Retiro  Ciclo_Estacion_Arribo Fecha_Arribo  \
 0        01/07/2019     0:01:35                    312   01/07/2019
 1        01/07/2019     0:02:47                    133   01/07/2019
 2        01/07/2019     0:02:54                    348   01/07/2019
 3        01/07/2019     0:03:01                    291   01/07/2019
 4        01/07/2019     0:04:45                    111   01/07/2019
 ...             ...         ...                    ...          ...
 703268   30/07/2019    23:56:04                    254   31/07/2019
 703269   30/07/2019    23:58:12                     81   31/07/2019
 703270   30/07/2019    23:58:33                    394   31/07/2019
 703271   30/07/2019    23:58:41                     56   31/07/2019
 703272   30/07/2019    23:59:42                    465   31/07/2019

        Hora_Arribo
 0          0:29:28
 1          0:13:35
 2          0:13:58
 3          0:39:25
 4          0:17:33
 ...            ...
 703268     0:02:23
 703269     0:09:02
 703270     0:09:28
 703271     0:05:07
 703272     0:26:38

 [703273 rows x 9 columns],
        Genero_Usuario  Edad_Usuario   Bici  Ciclo_Estacion_Retiro  \
 0                   M            24   8256                     52
 1                   M            26   9439                    125
 2                   M            26  12414                     34
 3                   M            38  15048                    108
 4                   F            32   2404                    133
 ...               ...           ...    ...                    ...
 748700              F            56   9039                     69
 748701              M            29   2161                    149
 748702              M            32  11285                    129
 748703              M            28   9420                    421
 748704              F            30  11799                    135

        Fecha_Retiro Hora_Retiro  Ciclo_Estacion_Arribo Fecha_Arribo  \
 0        01/08/2019     0:00:18                    269   01/08/2019
 1        01/08/2019     0:00:34                    127   01/08/2019
 2        01/08/2019     0:02:27                     59   01/08/2019
 3        01/08/2019     0:03:13                    260   01/08/2019
 4        01/08/2019     0:06:45                    465   01/08/2019
 ...             ...         ...                    ...          ...
 748700   30/08/2019    23:58:47                     59   31/08/2019
 748701   30/08/2019    23:58:49                    254   31/08/2019
 748702   30/08/2019    23:59:11                    133   31/08/2019
 748703   30/08/2019    23:59:47                    420   31/08/2019
 748704   30/08/2019    23:59:56                    134   31/08/2019

        Hora_Arribo
 0          0:07:30
 1          0:10:03
 2          0:10:26
 3          0:07:42
 4          0:53:20
 ...            ...
 748700     0:03:24
 748701     0:15:41
 748702     0:04:35
 748703     0:01:21
 748704     0:03:41

 [748705 rows x 9 columns],
        Genero_Usuario  Edad_Usuario   Bici  Ciclo_Estacion_Retiro  \
 0                   M            30   7685                    136
 1                   M            37   7729                     56
 2                   M            22   9555                    404
 3                   M            28  15231                    260
 4                   M            42  11867                    325
 ...               ...           ...    ...                    ...
 673815              M            32  11581                    121
 673816              M            30   8676                    291
 673817              F            47  11748                    110
 673818              M            35   9095                    110
 673819              M            25   8341                     15

        Fecha_Retiro Hora_Retiro  Ciclo_Estacion_Arribo Fecha_Arribo  \
 0        01/09/2019     0:00:54                    256   01/09/2019
 1        01/09/2019     0:01:07                    186   01/09/2019
 2        01/09/2019     0:01:12                    119   01/09/2019
 3        01/09/2019     0:01:15                    260   01/09/2019
 4        01/09/2019     0:01:39                    347   01/09/2019
 ...             ...         ...                    ...          ...
 673815   29/09/2019    23:52:20                     69   30/09/2019
 673816   29/09/2019    23:55:33                     47   30/09/2019
 673817   29/09/2019    23:56:31                     55   30/09/2019
 673818   29/09/2019    23:56:47                     55   30/09/2019
 673819   29/09/2019    23:59:56                     13   30/09/2019

        Hora_Arribo
 0          0:08:28
 1          0:15:21
 2          0:25:26
 3          0:27:56
 4          0:05:06
 ...            ...
 673815     0:02:12
 673816     0:02:35
 673817     0:08:09
 673818     0:07:04
 673819     0:01:42

 [673820 rows x 9 columns]]

In [50]:
#Apendamos todos los dataframe en uno solo
df = eco_bici.append([lista_data[0], lista_data[1],lista_data[2],lista_data[3],lista_data[4],lista_data[5],lista_data[6],lista_data[7],lista_data[8]])

In [51]:
#Solo escogemos las columnas que necesitamos
df=df[['Bici','Edad_Usuario','Fecha_Retiro']]
df['Edad_Usuario']=df['Edad_Usuario'].astype(str).astype(int)
df['Edad_Usuario']

0         36
1         36
2         38
3         43
4         37
          ..
673815    32
673816    30
673817    47
673818    35
673819    25
Name: Edad_Usuario, Length: 6396090, dtype: int32

In [56]:
#Agrupamos la información por fecha y contamos el número de bicis y la edad promedio del pasajero.
df=df.groupby('Fecha_Retiro').agg({'Bici':'count', 'Edad_Usuario':'mean'})

In [57]:
#Reset del index y convertimos la columna fecha a date
df=df.reset_index()
df=df[['Fecha_Retiro','Bici','Edad_Usuario']]
df['Fecha_Retiro']=pd.to_datetime(df['Fecha_Retiro'])

In [60]:
#Combinamos la informacion de todas nuestras bases de datos "Clima","Ecobici","Contaminacion del aire"
postgres_database=pd.merge(data_df_all,df,how = 'left',left_on="Date",right_on="Fecha_Retiro")
postgres_database=pd.merge(postgres_database,co_df,how = 'left',left_on="Date",right_on="FECHA")
postgres_database=pd.merge(postgres_database,uva_df,how = 'left',left_on="Date",right_on="FECHA")
postgres_database=pd.merge(postgres_database,uvb_df,how = 'left',left_on="Date",right_on="FECHA")

In [61]:
#Seleccinamos solo las columnas que queremos mantener
postgres_database=postgres_database[['Date', 'Precipitation', 'TempAvg', 'TempMin', 'TempMax',
       'Bici', 'Edad_Usuario', 'n_CO', 'n_UVA',
       'n_UVB']]

In [62]:
postgres_database.columns

Index(['Date', 'Precipitation', 'TempAvg', 'TempMin', 'TempMax', 'Bici',
       'Edad_Usuario', 'n_CO', 'n_UVA', 'n_UVB'],
      dtype='object')

In [69]:
#Hacemos la conexion a la base de datos 
from sqlalchemy import create_engine
connection_string = "postgres:postgres@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{connection_string}')

In [70]:
postgres_database

,Date,Precipitation,TempAvg,TempMin,TempMax,Bici,Edad_Usuario,n_CO,n_UVA,n_UVB
0,2019-01-01,0.0,62.0,47.0,76.0,1.0,36.071391,11.784375,16.585818,16.585818
1,2019-01-02,0.0,62.0,45.0,77.0,1.0,35.401442,11.440625,20.345273,20.345273
2,2019-01-03,NaN,60.0,NaN,NaN,1.0,35.092409,11.040625,22.184091,22.184091
3,2019-01-04,0.0,65.0,45.0,74.0,1.0,35.129763,4.790625,20.409000,20.409000
4,2019-01-05,0.0,66.0,45.0,75.0,1.0,34.995792,5.312500,20.008091,20.008091
...,...,...,...,...,...,...,...,...,...,...
360,2019-12-27,NaN,NaN,NaN,NaN,NaN,NaN,10.090000,12.390545,12.390545
361,2019-12-28,NaN,NaN,NaN,NaN,NaN,NaN,9.421875,12.144000,12.144000
362,2019-12-29,NaN,NaN,NaN,NaN,NaN,NaN,9.209375,9.185727,9.185727
363,2019-12-30,0.0,63.0,NaN,NaN,NaN,NaN,9.406250,14.618364,14.618364
364,2019-12-31,0.0,61.0,49.0,75.0,NaN,NaN,10.790625,13.267455,13.267455

In [71]:
#Creamos una copia de nuestro dataframe
ecobici_transformed = postgres_database.copy()

In [72]:
#Colocamos la fecha como nuestro index
ecobici_transformed.set_index("Date", inplace=True)

ecobici_transformed.head()

,Precipitation,TempAvg,TempMin,TempMax,Bici,Edad_Usuario,n_CO,n_UVA,n_UVB
Date,,,,,,,,,
2019-01-01,0.0,62.0,47.0,76.0,1.0,36.071391,11.784375,16.585818,16.585818
2019-01-02,0.0,62.0,45.0,77.0,1.0,35.401442,11.440625,20.345273,20.345273
2019-01-03,NaN,60.0,NaN,NaN,1.0,35.092409,11.040625,22.184091,22.184091
2019-01-04,0.0,65.0,45.0,74.0,1.0,35.129763,4.790625,20.409000,20.409000
2019-01-05,0.0,66.0,45.0,75.0,1.0,34.995792,5.312500,20.008091,20.008091

In [73]:
#Obtenemos el engine de nuestras tablas
engine.table_names()

['ecobici']

In [74]:
#Agregamos nuestro dataframe a sqlpostgress
ecobici_transformed.to_sql(name='ecobici', con=engine, if_exists='append', index=True)